body{
    background-color:royalblue ;
}
.container{
    border: 1px solid black;
    width: 95%;
    height: 100vh;
    display: flex;

}
.quotes{
    border: 1px solid black;
    width: 900px;
    height: 450px;
    margin: auto;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    color: gold;
    background-color: blueviolet;
    border: 10px solid rgb(30, 255, 0);
}
.quotes p ,.quotes h3{
font-size: 1.5 rem;
}
@media(max-width:480px){
    .quotes p ,.quotes h3{
        font-size: 1 rem;
        }
}
